// Variables

$v-margin: 12px;
$fullwidth: 800px;
$mainwidth: 645px;
$border-color: #DFDFDF;
$blue: #6C8F97;

/* 	Fonts
	------------------------------------------------------- */

@font-face {
	font-family: 'icons';
	src: url('../fonts/pulsarjs.ttf');
	font-weight: normal;
	font-style: normal;
}

.icon {
	margin-left: 4px;
	font-size: 16px;
	vertical-align: bottom;
}



/* 	Elements
	------------------------------------------------------- */

p {
	margin: 0;
}

th,td {
	padding: 4px;
	font-weight: inherit;
}

tr {
	min-height: 44px;
}

thead {
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border-bottom: 1px solid $border-color;
	font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;


	a {
		text-decoration: none;
		color: inherit;

		&:visited {
			color: inherit;
		}
	}
}

/* 	Containers
	------------------------------------------------------- */
.wrap {
	color: #333;
	display: inline-block;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 18px;
	width: $fullwidth + 2*$v-margin + 1;
	position: relative;
	padding-bottom: 20px;

}

.col-right {
	float: left;
	width: ($fullwidth - $mainwidth);
	padding: 20px $v-margin;
	margin-left: $v-margin;
	position: fixed;
	right: 0;
	border: 1px solid $border-color;
	text-align: center;
	position: fixed;
	top: 26px;
	bottom: auto;
	left: 698px; // Calculated based off mainwidth + sidebar width + margins + padding
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #eee;


	@media screen and (min-width:898px) {
		left: 810px;
	}
}


.col-left {
	float: left;
	width: $mainwidth;
}

.messages {
	        border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #A8E9C2;
	padding: 8px 0 2px;
	display: block;
}

.main-head, .main-descr {
	text-align: left;
}

h2 {
	color: #464646;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
	font-size: 23px;
	font-weight: normal;
	line-height: 29px;
	margin: 10px 0;
}

h3 {
	@extend h2;
	font-size: 18px;
	line-height: 25px;
}

.settings {
	margin-top: $v-margin;
	text-align: center;
}

.option {
	font-weight: bold;
}

.advanced {
	margin-top: $v-margin;
	text-align: left;
}

.main {
	display: inline-block;
}

.files {
	        border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	background-color: #F9F9F9;
	display: block;
	border-collapse: collapse;
	border: 1px $border-color solid;
	border: 1px solid $border-color;
	width: $mainwidth;
	text-align: left;
}

.filename {
	width: 100%;
}

/* 	State
	------------------------------------------------------- */

.compiled, .not, .dumb-compiled, .dumb-not {
	height: 44px;
}

.compiled, .dumb-compiled {
	background-color: #FCFCFC;
}

.not, .dumb-not {
	background-color: #D1D1D1;
	color: #555;
}

/* 	Utility
	------------------------------------------------------- */

.mar-top {
	margin-top: 10px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* 	Content
	------------------------------------------------------- */

.button-pref {
	width: 190px;
	margin: 0 6px;
	display: inline-block;
	height: 100px;
	vertical-align: top;

	input {
		display: none;
	}
}

.button-select {
	display: block;
	background: #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 12px 0;
	margin-bottom: $v-margin/2;
	color: #fff;
	font-size: 18px;
	text-shadow: 0px 0px 1px #FFF, 0px -1px -3px #01252E;

	&:active {
		cursor: pointer;
	}
}

#btn-on {
	border: 1px solid #26814A;
	background-image:         linear-gradient(to bottom, #3DC975, #26814A);
	background-image:      -o-linear-gradient(top, #3DC975, #26814A);
	background-image:     -ms-linear-gradient(top, #3DC975, #26814A);
	background-image:    -moz-linear-gradient(top, #3DC975, #26814A);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3DC975), to(#26814A));
	background-image: -webkit-linear-gradient(top, #3DC975, #26814A);

	&.btn-active, &:active {
		text-shadow: none;
		border: 1px solid #26814A - 33;
		color: #023C19;
		background-image:         linear-gradient(to bottom, #26814A - 66 , #3DC975 - 55);
		background-image:      -o-linear-gradient(top, #26814A - 66, #3DC975 - 55);
		background-image:     -ms-linear-gradient(top, #26814A - 66, #3DC975 - 55);
		background-image:    -moz-linear-gradient(top, #26814A - 66, #3DC975 - 55);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#26814A - 66), to(#3DC975 - 55));
		background-image: -webkit-linear-gradient(top, #26814A - 66 , #3DC975 - 55);
	}
}

#btn-off {
	border: 1px solid #C43030;
	background-image:         linear-gradient(to bottom, #FF3D3D, #C43030);
	background-image:      -o-linear-gradient(top, #FF3D3D, #C43030);
	background-image:     -ms-linear-gradient(top, #FF3D3D, #C43030);
	background-image:    -moz-linear-gradient(top, #FF3D3D, #C43030);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF3D3D), to(#C43030));
	background-image: -webkit-linear-gradient(top, #FF3D3D, #C43030);

	&.btn-active, &:active {
		text-shadow: none;
		border: 1px solid #C43030 - 33;
		color: #520000;
		background-image:         linear-gradient(to bottom, #C43030 - 88 , #FF3D3D - 55);
		background-image:      -o-linear-gradient(top, #C43030 - 88, #FF3D3D - 55);
		background-image:     -ms-linear-gradient(top, #C43030 - 88, #FF3D3D - 55);
		background-image:    -moz-linear-gradient(top, #C43030 - 88, #FF3D3D - 55);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#C43030 - 88), to(#FF3D3D - 55));
		background-image: -webkit-linear-gradient(top, #C43030 - 88 , #FF3D3D - 55);
	}
}

#btn-custom {
	text-shadow: 0px 0px 1px #031F2B, 0px -1px -3px #01252E;
	border: 1px solid #556E74;
	background-image:         linear-gradient(to bottom, $blue, #556E74);
	background-image:      -o-linear-gradient(top, $blue, #556E74);
	background-image:     -ms-linear-gradient(top, $blue, #556E74);
	background-image:    -moz-linear-gradient(top, $blue, #556E74);
	background-image: -webkit-gradient(linear, left top, left bottom, from($blue), to(#556E74));
	background-image: -webkit-linear-gradient(top, $blue, #556E74);

	&.btn-active, &:active {
		text-shadow: none;
		border: 1px solid #556E74 - 33;
		color: #031F2B;
		background-image:         linear-gradient(to bottom, #556E74 - 44 , $blue - 55);
		background-image:      -o-linear-gradient(top, #556E74 - 44, $blue - 55);
		background-image:     -ms-linear-gradient(top, #556E74 - 44, $blue - 55);
		background-image:    -moz-linear-gradient(top, #556E74 - 44, $blue - 55);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#556E74 - 44), to($blue - 55));
		background-image: -webkit-linear-gradient(top, #556E74 - 44 , $blue - 22);
	}
}

.cachehelp-hover {
	position: relative;
	display: inline-block;
	height: 15px;

	&:hover {
		cursor: pointer;

		&>.cachehelp {
			visibility: visible;
		}

	}
}

.cachehelp {
	visibility: hidden;
	background-color: #F1F1F1;
	background-color: white;
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border: 1px solid $border-color;
	display: block;
	left: 30px;
	padding: 4px;
	position: absolute;
	top: -32px;
	width: 300px;
	z-index: 1;
}
#icon-edit-comments {
	background-position: -37px -2px !important; //override cf colors
	background-size: 400px;
	float: left;
	height: 18px;
	margin: 0;
	width: 31px;
}
.section-info {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 4px;
}

.section-header {
	float: left;
	margin-bottom: 0;
}

.last-updated {
	float: right;
	clear: right;
	font-size: 10px;
}

.center {
	text-align: center;
}

.reason-help {
	@extend .cachehelp;
	visibility: visible;
	position: absolute;
	top: -9px;
	padding: 4px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: -6px;
		top: 24px;
		border-top: 5px solid transparent;
		border-right: 6px solid #f1f1f1;
		border-bottom: 5px solid transparent;
	}
}

.reason-help-close {
	position: absolute;
	right: 0;
	font-size: 20px;
}

.reason {
	label {
		display: none;
	}
}

.reason-submit {
	display: none;
}

.compiled {
	.reason-value, .separator {
		display: none;
	}
}

input[type="text"].reason-value {
	background-color: #D1D1D1;
	border-color: #d1d1d1;
	font-size: 11px;
	color: inherit;
	padding: 0 1px;
	margin: 0;
	width: 300px;
	text-overflow: ellipsis;
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		background-color: #fff;
	}

	&:focus {
		background-color: #fff;
		box-shadow: none;
		cursor: text;
		text-decoration: none;

		& + .reason-submit {
			display: inline-block;
		}
	}
}

.js-minset {
	list-style-type: none;
	padding-left: 0;
	margin: 8px 0;
	float: left;
}

#js-obliterate, #css-obliterate {
	float: right;
	margin-top: 6px;
}

.obliterate-wrap {
	float: right;
}

.css-minify {
	display: block;
	float: left;
	margin-top: 4px;
}



.save {
	border: 1px solid #556E74;
	background-image:         linear-gradient(to bottom, $blue, #556E74);
	background-image:      -o-linear-gradient(top, $blue, #556E74);
	background-image:     -ms-linear-gradient(top, $blue, #556E74);
	background-image:    -moz-linear-gradient(top, $blue, #556E74);
	background-image: -webkit-gradient(linear, left top, left bottom, from($blue), to(#556E74));
	background-image: -webkit-linear-gradient(top, $blue, #556E74);

	&:active {
		border: 1px solid #556E74 - 33;
		color: #031F2B;
		background-image:         linear-gradient(to bottom, #556E74 - 44 , $blue - 55);
		background-image:      -o-linear-gradient(top, #556E74 - 44, $blue - 55);
		background-image:     -ms-linear-gradient(top, #556E74 - 44, $blue - 55);
		background-image:    -moz-linear-gradient(top, #556E74 - 44, $blue - 55);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#556E74 - 44), to($blue - 55));
		background-image: -webkit-linear-gradient(top, #556E74 - 44 , $blue - 22);
	}
	        border-radius: 3px;
	   -moz-border-radius: 3px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    -webkit-border-radius: 3px;
	background-color: $blue;
	background-color: $blue;
	border: 1px solid #556E74;
	bottom: 0;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	padding: 9px 0;
	width: 155px;
}

// .custom .save {
// 	position: fixed;
// 	top: 247px;
// 	bottom: auto;
// 	left: 722px; // Calculated based off mainwidth + sidebar width + margins + padding

// 	@media screen and (min-width:898px) {
// 		left: 835px;
// 	}

// }

.warning {
	background-color: #FFEE96;
	padding: 0 5px;
}


