/* 	Fonts
	------------------------------------------------------- */
@font-face {
  font-family: 'icons';
  src: url("../fonts/pulsarjs.ttf");
  font-weight: normal;
  font-style: normal; }

.icon {
  margin-left: 4px;
  font-size: 16px;
  vertical-align: bottom; }

/* 	Elements
	------------------------------------------------------- */
p {
  margin: 0; }

th, td {
  padding: 4px;
  font-weight: inherit; }

tr {
  min-height: 44px; }

thead {
  background-color: #F1F1F1;
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  border-bottom: 1px solid #dfdfdf;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0; }
  thead a {
    text-decoration: none;
    color: inherit; }
    thead a:visited {
      color: inherit; }

/* 	Containers
	------------------------------------------------------- */
.wrap {
  color: #333;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 18px;
  width: 825px;
  position: relative;
  padding-bottom: 20px; }

.col-right {
  float: left;
  width: 155px;
  padding: 20px 12px;
  margin-left: 12px;
  position: fixed;
  right: 0;
  border: 1px solid #dfdfdf;
  text-align: center;
  position: fixed;
  top: 26px;
  bottom: auto;
  left: 698px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #eee; }
  @media screen and (min-width: 898px) {
    .col-right {
      left: 810px; } }

.col-left {
  float: left;
  width: 645px; }

h2, h3 {
  color: #464646;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-weight: normal;
  line-height: 29px;
  margin: 10px 0; }

h3 {
  font-size: 18px;
  line-height: 25px; }

.settings {
  margin-top: 12px;
  text-align: center; }

.option {
  font-weight: bold; }

.advanced {
  margin-top: 12px;
  text-align: left; }

.main {
  display: inline-block; }

.files {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #F9F9F9;
  display: block;
  border-collapse: collapse;
  border: 1px #dfdfdf solid;
  border: 1px solid #dfdfdf;
  width: 645px; }

.filename {
  width: 100%; }

/* 	State
	------------------------------------------------------- */
.compiled, .not {
  height: 44px; }

.compiled {
  background-color: #FCFCFC; }

.not {
  background-color: #D1D1D1;
  color: #555; }

/* 	Utility
	------------------------------------------------------- */
.mar-top {
  margin-top: 10px; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* 	Content
	------------------------------------------------------- */
.button-pref {
  width: 190px;
  margin: 0 6px;
  display: inline-block;
  height: 100px;
  vertical-align: top; }
  .button-pref input {
    display: none; }

.button-select {
  display: block;
  background: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 0;
  margin-bottom: 6px;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 1px white, 0px -1px -3px #01252e; }
  .button-select:active {
    cursor: pointer; }

#btn-on {
  border: 1px solid #26814a;
  background-image: linear-gradient(to bottom, #3dc975, #26814a);
  background-image: -o-linear-gradient(top, #3dc975, #26814a);
  background-image: -ms-linear-gradient(top, #3dc975, #26814a);
  background-image: -moz-linear-gradient(top, #3dc975, #26814a);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3dc975), to(#26814a));
  background-image: -webkit-linear-gradient(top, #3dc975, #26814a); }
  #btn-on.btn-active, #btn-on:active {
    text-shadow: none;
    border: 1px solid #056029;
    color: #023C19;
    background-image: linear-gradient(to bottom, #003f08, #06923e);
    background-image: -o-linear-gradient(top, #003f08, #06923e);
    background-image: -ms-linear-gradient(top, #003f08, #06923e);
    background-image: -moz-linear-gradient(top, #003f08, #06923e);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#003f08), to(#06923e));
    background-image: -webkit-linear-gradient(top, #003f08, #06923e); }

#btn-off {
  border: 1px solid #c43030;
  background-image: linear-gradient(to bottom, #ff3d3d, #c43030);
  background-image: -o-linear-gradient(top, #ff3d3d, #c43030);
  background-image: -ms-linear-gradient(top, #ff3d3d, #c43030);
  background-image: -moz-linear-gradient(top, #ff3d3d, #c43030);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3d3d), to(#c43030));
  background-image: -webkit-linear-gradient(top, #ff3d3d, #c43030); }
  #btn-off.btn-active, #btn-off:active {
    text-shadow: none;
    border: 1px solid #a30f0f;
    color: #520000;
    background-image: linear-gradient(to bottom, #6c0000, #c80606);
    background-image: -o-linear-gradient(top, #6c0000, #c80606);
    background-image: -ms-linear-gradient(top, #6c0000, #c80606);
    background-image: -moz-linear-gradient(top, #6c0000, #c80606);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6c0000), to(#c80606));
    background-image: -webkit-linear-gradient(top, #6c0000, #c80606); }

#btn-custom {
  text-shadow: 0px 0px 1px #031f2b, 0px -1px -3px #01252e;
  border: 1px solid #556e74;
  background-image: linear-gradient(to bottom, #6c8f97, #556e74);
  background-image: -o-linear-gradient(top, #6c8f97, #556e74);
  background-image: -ms-linear-gradient(top, #6c8f97, #556e74);
  background-image: -moz-linear-gradient(top, #6c8f97, #556e74);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6c8f97), to(#556e74));
  background-image: -webkit-linear-gradient(top, #6c8f97, #556e74); }
  #btn-custom.btn-active, #btn-custom:active {
    text-shadow: none;
    border: 1px solid #344d53;
    color: #031F2B;
    background-image: linear-gradient(to bottom, #294248, #355860);
    background-image: -o-linear-gradient(top, #294248, #355860);
    background-image: -ms-linear-gradient(top, #294248, #355860);
    background-image: -moz-linear-gradient(top, #294248, #355860);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#294248), to(#355860));
    background-image: -webkit-linear-gradient(top, #294248, #567981); }

.cachehelp-hover {
  position: relative; }
  .cachehelp-hover:hover {
    cursor: pointer; }
    .cachehelp-hover:hover > .cachehelp, .cachehelp-hover:hover > .reason-help {
      visibility: visible; }

.cachehelp, .reason-help {
  visibility: hidden;
  background-color: #F1F1F1;
  background-color: white;
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  border: 1px solid #dfdfdf;
  display: block;
  left: 30px;
  padding: 4px;
  position: absolute;
  top: -32px;
  width: 300px;
  z-index: 1; }

.section-info {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 4px; }

.section-header {
  float: left;
  margin-bottom: 0; }

.last-updated {
  float: right;
  clear: right;
  font-size: 10px; }

.center {
  text-align: center; }

.reason-help {
  visibility: visible;
  position: absolute;
  top: -9px;
  padding: 4px; }
  .reason-help:before {
    content: "";
    display: block;
    position: absolute;
    left: -6px;
    top: 24px;
    border-top: 5px solid transparent;
    border-right: 6px solid #f1f1f1;
    border-bottom: 5px solid transparent; }

.reason-help-close {
  position: absolute;
  right: 0;
  font-size: 20px; }

.reason label {
  display: none; }

.reason-submit {
  display: none; }

.compiled .reason-value, .compiled .separator {
  display: none; }

input[type="text"].reason-value {
  background-color: #D1D1D1;
  border-color: #d1d1d1;
  font-size: 11px;
  color: inherit;
  padding: 0 1px;
  margin: 0;
  width: 300px;
  text-overflow: ellipsis;
  cursor: pointer;
  text-decoration: underline; }
  input[type="text"].reason-value:focus {
    background-color: #fff;
    box-shadow: none;
    cursor: text; }
    input[type="text"].reason-value:focus + .reason-submit {
      display: inline-block; }

.js-minset {
  list-style-type: none;
  padding-left: 0;
  margin: 8px 0;
  float: left; }

#js-obliterate, #css-obliterate {
  float: right;
  margin-top: 6px; }

.obliterate-wrap {
  float: right; }

.css-minify {
  display: block;
  float: left;
  margin-top: 4px; }

.save {
  border: 1px solid #556e74;
  background-image: linear-gradient(to bottom, #6c8f97, #556e74);
  background-image: -o-linear-gradient(top, #6c8f97, #556e74);
  background-image: -ms-linear-gradient(top, #6c8f97, #556e74);
  background-image: -moz-linear-gradient(top, #6c8f97, #556e74);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6c8f97), to(#556e74));
  background-image: -webkit-linear-gradient(top, #6c8f97, #556e74);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  background-color: #6c8f97;
  background-color: #6c8f97;
  border: 1px solid #556e74;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 9px 0;
  width: 155px; }
  .save:active {
    border: 1px solid #344d53;
    color: #031F2B;
    background-image: linear-gradient(to bottom, #294248, #355860);
    background-image: -o-linear-gradient(top, #294248, #355860);
    background-image: -ms-linear-gradient(top, #294248, #355860);
    background-image: -moz-linear-gradient(top, #294248, #355860);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#294248), to(#355860));
    background-image: -webkit-linear-gradient(top, #294248, #567981); }

.warning {
  background-color: #FFEE96;
  padding: 0 5px; }
